.worker-select-for-movie {
  height: 100%;
  text-align: center;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worker-select-for-movie > .actions {
  display: flex;
  height: 100px;
  width: 250px;
  justify-content: space-between;
  margin-top: auto;
  font-size: 4em;
}

.worker-select-for-movie > .movie-logo {
  max-width: 400px;
}