.worker-select-for-movie {
  height: 100%;
  text-align: center;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.worker-select-for-movie > h2 {
  margin-top: 0;
}

.worker-select-for-movie > .actions {
  display: flex;
  height: 100px;
  width: 250px;
  justify-content: space-between;
  margin-top: auto;
  font-size: 4em;
}

.success-notification, .warning-notification {
  position: fixed;
  top: -42px;
  transition: all ease-in-out 300ms;
}

.success-notification.active, .warning-notification.active {
  top: 0;
}

.worker-select-for-movie > .movie-logo {
  max-width: 400px;
}