.draggable-cards-stack {
  list-style-type: none;
  position: relative;
  list-style-type: none;
  position: relative;
  padding: 0;
  width: 100%;
}

.draggable-cards-stack > .card {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.draggable-cards-stack > .card.placeholder {
  height: 325px;
}

.draggable-cards-stack > .card:last-child {
   top: -10px;
}

.draggable-cards-stack > .card:nth-last-child(2) {
   top: -5px;
}

.draggable-cards-stack > .card:nth-child(2) {
   top: -5px;
}

.draggable-cards-stack > .card:first-child {
   top: 0;
}

.upgrade-button {
  background: red;
  color: #fff;
  font-size: 1.5em;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid grey;
}