.card {
  width: 210px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #cccccc;
  padding: 10px 20px;
}

.card > .image {
  width: 100%;
  height: 250px;
  display: flex;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.card > h2 {
  font-weight: 100;
  margin-top: 10px;
}

.card.reset {
  transform: translate(0px, 0px) !important;
  transition: all 300ms;
}

.card.animate-out-right {
  transform: translate(100vw, 0) !important;
  transition: all 300ms;
}

.card.animate-out-left {
  transform: translate(-100vw, 0) !important;
  transition: all 300ms;
}