.card {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #cccccc;
  transition: top 300ms;
  height: 325px;
}

.card > .image {
  width: 100%;
  height: 250px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.card > h2 {
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0;
}

.card > p {
  margin: 0;
  color: coral;
}

.card.reset {
  transform: translate(0px, 0px) !important;
  transition: all 300ms;
}

.card.animate-out-right {
  transform: translate(100vw, 0) !important;
  transition: all 300ms;
}

.card.animate-out-left {
  transform: translate(-100vw, 0) !important;
  transition: all 300ms;
}