button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1em;
  cursor: pointer;
}

button > i {
  transition: opacity ease-in-out 300ms;
  opacity: 0.5;
}

button:hover > i {
  opacity: 1;
}

button:focus {
  outline: none;
}

button.no-button {
  color: #f47b7b;
}

button.yes-button {
  color: #58e371;
}